.DS_Store
# build outputs & local junk
build/
build_*/
dist/
out/
.git/
.vscode/
.vscode-server/
.vscode-test/
.cache/
.ccache/
*.o
*.obj
*.a
*.lib
*.dll
*.dylib
*.so
*.pch
*.pdb
node_modules/
**/__pycache__/
*.log
