# --- Build Artifacts ---
/out
/build
*.exe               # Compiled binaries
*.dll               # Dynamic link libraries
CMakeFiles/
CMakeCache.txt
imgui.ini

# --- Dependency ---
dependency

# --- Logs & Debug Files ---
*.log
*.lo*
