# --- Build Artifacts ---
/out
/build
/build_gtest
*.exe               # Compiled binaries
*.dll               # Dynamic link libraries
CMakeFiles/
CMakeCache.txt
imgui.ini
.cache/
.config

# --- Dependency ---
dependency

# --- Logs & Debug Files ---
*.log
*.lo*
